.gsd-keyboard.settings-ported
Android Open Source Project/
Code/
FreeCAD/
Google/
Pinta/
QtProject.conf
Ultimaker B.V./
Unknown Organization/
cef_user_data/
cura/
dconf/
discord/
enchant/
eog/
evolution/
geary/
gnome-control-center/
gnome-initial-setup-done
goa-1.0/
heaptrack_gui
menus/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
nixpkgs/
obs-studio/
obsidian/
nlyoffice/
pop-shell/
pulse/
totem/
user-dirs.dirs
user-dirs.locale
vimb/
yelp/
zoom.conf
zoomus.conf
onlyoffice/
kdeglobals
kdenlive-layoutsrc
kdenliverc
gnome-boxes/
libvirt/
composer/
Raspberry Pi/
